
ul li{
   
    margin: 2rem;
 margin-left: -1rem;
}
section{
       
    
    margin-left: 300px;
    padding-left: 50px;
    font-size: 2rem;

    
}
.div2{
    
   
    padding: 3rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
    height: 102rem;
   
    h1{
        @include responsive(700px){
    font-size: 1.5rem;
        }
    }
}

