img{
    border-radius: 120px;
    width: 233px;
    @include responsive(400px){
       border-radius: 120px;
        width: 120px;
        height: auto;
        margin-right:1px;

    }}
    .div2{
        background: $secandary-color;
        @include responsive(400px){
        
        }
    }

    